<div class="background-container">

    <mat-card class="form-container">
        <mat-card-title>
            Login
        </mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email"  placeholder="Ex. pat@example.com">
            </mat-form-field>
            <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password">
            </mat-form-field>

            <mat-button class="loginButton">Ingresar</mat-button>
        </mat-card-content>
    </mat-card> 
</div>