.full-height-container{
    height: 90%;
    padding: 20px;
}

.full-height-container >.row{
    height: 100%;
}

#formContainer{
    height: 100%;
    background-color: white;
}

h1{
    margin: 10px 0px 10px 0px;
    text-align: center;
}

#newActionContainer{
    padding: 8px;
}

