#action-container{
    text-align: center;
    height: 100%;
    width: 100%;
}

#action-icon-container{
    background-color: coral;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.icon-dimensions{
    height: 60%;
    width: 50%;
}

.icon-dimensions-no-name{
    height: 100%;
    width: 80%;
}

#action-icon-container .mat-icon{
    color: white;
    position: relative;
}

.icon-top30{
    top: 30%;
}

.icon-top20{
    top: 20%;
}

#action-name{
    height: 20%;
    margin-top: 5px;
}